In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
titanic = pd.read_csv('titanic.csv')

In [3]:
titanic.isnull().head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False

In [4]:
def impute_age(cols):
    Age = cols[0]
    Pclass = cols[1]
    
    if pd.isnull(Age):

        if Pclass == 1:
            return 37

        elif Pclass == 2:
            return 29

        else:
            return 24

    else:
        return Age

In [5]:
titanic['Age'] = titanic[['Age','Pclass']].apply(impute_age,axis=1)

In [6]:
titanic.drop('Cabin',axis=1,inplace=True)

In [7]:
titanic.dropna(inplace=True)

In [8]:
sex = pd.get_dummies(titanic['Sex'],drop_first=True)#it ssaving in newvariable sex this statmnt makes male female into only male
embark = pd.get_dummies(titanic['Embarked'],drop_first=True)

In [9]:
titanic.drop(['Sex','Embarked','Name','Ticket'],axis=1,inplace=True)

In [10]:
titanic = pd.concat([titanic,sex,embark],axis=1)

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(titanic.drop('Survived',axis=1), 
                                                    titanic['Survived'], test_size=0.30, 
                                                    random_state=101)

In [13]:
from sklearn.svm import SVC

In [14]:
model = SVC()

In [15]:
model.fit(X_train,y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [16]:
predictions = model.predict(X_test)

In [17]:
from sklearn.metrics import classification_report,confusion_matrix

In [18]:
print(confusion_matrix(y_test,predictions))

[[162   1]
 [104   0]]

In [19]:
print(classification_report(y_test,predictions))

             precision    recall  f1-score   support

          0       0.61      0.99      0.76       163
          1       0.00      0.00      0.00       104

avg / total       0.37      0.61      0.46       267

In [20]:
param_grid = {'C': [0.1,1, 10, 100, 1000], 'gamma': [1,0.1,0.01,0.001,0.0001], 'kernel': ['rbf','linear']}

In [21]:
from sklearn.model_selection import GridSearchCV

In [22]:
grid = GridSearchCV(SVC(),param_grid)

In [ ]:
# May take awhile!
grid.fit(X_train,y_train)

In [ ]:
grid.best_params_